<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jammus.pvt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".android.activities.MainMenuActivity"
            android:label="@string/title_activity_testing_screen" >
        </activity>
        <activity android:name=".android.activities.PerformTestActivity" >
        </activity>
        <activity
            android:name=".android.activities.ShowResultsActivity"
            android:label="@string/title_activity_show_results" >
        </activity>
        <activity
            android:name=".android.activities.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".android.activities.SignUpActivity"
            android:label="@string/title_activity_create_user"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".android.activities.LogInActivity"
            android:label="@string/title_activity_log_in"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".android.activities.SplashActivity"
            android:label="@string/title_activity_splash"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.activities.ScreeningSurveyActivity"
            android:label="@string/title_activity_screening_survey" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>